/*

See https://github.com/speced/bikeshed-boilerplate/blob/main/boilerplate/doctypes.kdl

The orgs defined in this KDL file will be included in that one.

*/

org "wintertc" {
    group "wintertc"

    status "DRAFT" "Draft"
    status "PDF" "Standard"
}