/*

See https://github.com/speced/bikeshed-boilerplate/blob/main/boilerplate/doctypes.kdl

The contents of this file will be appended in that one when the build happens.

*/

org "wintertc" {
    group "wintertc"

    status "DRAFT" "Draft"
    status "PDF" "Standard"
}